@if (sAuthState() == null || sAuthState()?.uid == null) {
  <app-login></app-login>
} @else {
  <div class="uploader">
    <lib-uploader [controller]="controller"></lib-uploader>
  </div>
  <mini-uploader [rightOffset]="140" [controller]="controller" completedActionName="Go Somewhere"></mini-uploader>
  <button mat-raised-button (click)="miniUploaderService.toggle()">Toggle</button>
  <button mat-raised-button (click)="uploaderService.startUpload(controller)">Start</button>
  <router-outlet />
}
